.about{
    .about-all{
        .about-text{
            width: 50%;
            margin-top: 15%;
            img{
                margin: 25px 0;
            }
        }
        .about-practical{
            margin: 70px 0;
            .rowpartical{
                row-gap: 60px;
                .colpartical{
                    display: flex;
                    column-gap: 35px;
                    img{
                        width: 200px;
                    }
                }
            }
        }
    }
}