section{
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

img{
    box-sizing: border-box;
   padding-right: 170px;
    width: 700px;
    height: 350px;
}
.img2{
    display: none;
}
.text{
    position: relative;
}

.text p{
    letter-spacing: 2px;
}
.text .underline{
    position: relative;
}

h2::after{
    position: absolute;
    content:"" ;
    width: 110px;
    height: 2px;
    background-color: red;
    bottom: -10px;
    left: 0;

}
@media only screen and (max-width: 767px){
    section{
        display: flex;
        flex-direction: column;
     }
     img{
        display: none;
     }
     .img2{
        /* box-sizing: border-box; */
        display: block;
        margin: 0 auto;
     }
     .text{
        background-color: rgb(156, 100, 60);

     }
}