.grid-container2{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.item{
    background-color: teal;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item1{
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}
.item4{
    grid-row: 2 ;
    grid-column: 3 / span 2;
}
.item5{
    grid-row: 3 ;
    grid-column: 2 / span 3;
}
.item6{
    grid-row: 3 /span 1;
    grid-column: 1 /span 1;
}

.item2{
    grid-column: 4;
}

.item3{
    grid-column: 3;
    grid-row: 1;
}