#contact{
    border: 2px solid black;
    background-color: #f4f5f9;
    .contact{
        width: 100%;
        display: flex;
        justify-content: space-around;
        column-gap: 10%;
        padding: 11% 5%;
        .contact-left{
            margin: auto 0;
            width: 50%;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 5%;
            h3{
                position: absolute;
                font-weight: 700;
                left: 0;
                top: 0;
            }
            p{
                font-size: 50px;
                color: #4a4a4a;
                font-weight: 700;
                position:absolute;
                right: 0;
            }
        }
        .contact-right{
            width: 50%;
            
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .name-surname{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .name{
                        width: 47%;
                    }
                    .surname{
                        
                        width: 49%;
                    }
                }

               .same{
                    padding: 15px;
                    border: 1px dashed #373a3c;
                    outline: none;
               }
                .text-select{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .textarea{
                        width: 75%;
                    }
                }
                #select2{
                    width: 100%;
                }
                .submitbtn{
                    width: 100%;
                    background-color: #fcba00;
                    outline: none;
                    border: none;
                    padding: 15px;
                    margin-top: 15px;
                    transition: 0.4s;
                    &:hover{
                        background-color: #4a4a4a;
                        color: #f4f5f9;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:767px){
    #contact{
        .contact{
            display: flex;
            flex-direction: column;
            .contact-left{
                width: 100%;
                margin-bottom: 100px;
            }
            .contact-right{
                width: 100%;
            }
        }

    }
}

// 320px asagi olmasina baxilmirdi deye yazilarin ust-uste dusmesini duzeltmedim:)