.minions{
    .minions-all{
        .minions-text{
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                position: relative;
            padding-bottom: 15px;
            &::after{
                content: "";
                position: absolute;
                width: 80%;
                height: 2px;
                background-color: yellow;
                left: 10px;
                bottom: 0;
            }
            }
            
        }
        .minions-box{
            .rowminions{
                .colminions{
                    border: 2px dotted black;
                   
                }
                .colminions:nth-child(odd){
                     background-color: rgb(172, 33, 160);
                }
                .colminions:nth-child(even){
                    background-color: yellow;
                }
            }
        }
    }
}