.progress{
    background-image: url(./progressimg.png);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    div{ 
            width: 100%;
            background-color: rgba(0, 0, 0, 0.438);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                color: white;
            }
    }
}